# pip install virtualenv
# python -m venv venv
# venv/Scripts/activate         # On Windows
# source myvenv/bin/activate    # On macOS/Linux

python-dotenv
langchain
langchain-community
langchain-openai
tiktoken
chromadb
pytest
pypdf
openai
fastapi
uvicorn