# Run before pip install -r requirements.txt
# pip install virtualenv
# python -m venv venv
# venv/Scripts/activate         # On Windows
# source myvenv/bin/activate    # On macOS/Linux

requests
python-dotenv
langchain
langchain-community
langchain-openai
langchain_chroma
langchain-huggingface
tiktoken
chromadb
pytest
pypdf
pdfplumber
openai
fastapi
uvicorn
faiss
faiss-cpu==1.8.0
faiss-gpu==1.7.2

langgraph
langchain-core
ollama
typing-extensions